doctype html
html.no-js(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= 'Foundation'
        link(rel='stylesheet', href='stylesheets/style.css', type='text/css')
        script(src="/javascripts/script.js")
        script(type='text/javascript', src='//use.typekit.net/xau6nox.js')
        script(src='/socket.io/socket.io.js')
        script(src= "../worker.js")
        
        script.
            var socket = io();
            //- console.log(update_left)
        //- script(type='text/javascript')
        //- | try{Typekit.load();}catch(e){}
    body
        .contain-to-grid
        .row.meta.top-bar
            .small-3.columns#time
            .logo.small-6.columns Kegalytics
            .small-3.columns.text-right
            span.label.inside-temp Fridge Temp
            span#temp 35
            | °
        section#kegs
            each num in [0,1]
                div(class= kegs[num].name)
                    .row.aligner
                        .small-1.columns.tap-id
                        .small-4.columns
                        //- - var kegId = kegs[num].volume === 640 ? "16" : kegs[num].volume === 992 ? "14" : "12"
                        div(class="keg keg" + kegId)
                            img(src="img/tap" + num + "-sticker.png" class="sticker")
                            img.keg-frame(src='img/keg-' + kegs[num].size + '.png')
                            .beer(style='bottom: ' + 36 + '%')
                                img(src='img/beer-5' +'.png')
                        
                        .small-6.columns.keg-info.end
                            h2(id= 'left')
                                | #{kegs[num].name+ ' ' + kegs[num].breweryName}  
                                ul
                                    li #{kegs[num].breweryLocation}
                                    li #{kegs[num].abv}% ABV
                                    li #{kegs[num].style}
                                .row  
                                    .small-5.columns.stats
                                        strong.pours #{kegs[num].pours}
                                        ul
                                            | pours
                                    .small-5.columns.stats
                                        strong.percent #{Math.floor((kegs[num].currentCapacity / kegs[num].maxCapacity) * 1000) / 10}%
                                        ul
                                            | full
        section#instructions
            .row
            .small-12.text-center.small-centered.columns
                h3 Steps to the perfect pour
            .row
            .small-2.columns
                img(src='img/step1.png')
            .small-2.columns
                h4 Step 1.
                p Hold the glass directly under the tap at a 45 degree angle.
            .small-2.columns
                img(src='img/step2.png')
            .small-2.columns
                h4 Step 2.
                p
                | Quickly open the tap&nbsp;
                b all the way
                | . Half pulls lead to more foam.
            .small-2.columns
                img(src='img/step3.png')
            .small-2.columns
                h4 Step 3.
                p Fill the glass 2/3 full, then hold the glass upright until full.
        section#footer
            .row
              .small-3.small-centered.text-center.columns
                img(src='img/sdi.png')

script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js')

script.
    socket.addEventListener('pour', function(data) { 
            pour(document,data)
        })
    //- socket.on('pour', function(msg) {
    //-     pour(msg)
    //-     window.console.log(msg)
    //-     //- window.location.reload()
    //- //- document.querySelector('div.logo').innerText = msg
    //- });

