if kegs && kegs[num].active
  .row.aligner
    .small-1.columns.tap-id
    .small-4.columns
      - var kegId = kegs[num].volume === 640 ? "16" : kegs[num].volume === 992 ? "14" : "12"
      div(class="keg keg" + kegId)
        img(src="img/tap" + num + "-sticker.png" class="sticker")
        img.keg-frame(src='img/keg-' + kegId + '.png')
        .beer(style='bottom: ' + -(82 - ((kegs[num].remaining / kegs[num].volume) * 82)) + '%')
          img(src='img/beer-' + kegs[num].color + '.png')

    .small-6.columns.keg-info.end
      h2 #{kegs[num].breweryName} #{kegs[num].name}
      ul
        li #{kegs[num].breweryLocation}
        li #{kegs[num].abv}% ABV
      .row  
        .small-5.columns.stats
          strong.pours #{kegs[num].pours}
          | pours
        .small-7.columns.stats
          strong.percent
            | #{Math.floor((kegs[num].remaining / kegs[num].volume) * 1000) / 10}
            sup %
          | full
