doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Foundation
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='vendor/modernizr/modernizr.js')
    script(type='text/javascript', src='//use.typekit.net/xau6nox.js')
    script(type='text/javascript')
      | try{Typekit.load();}catch(e){}
  body
    .contain-to-grid
      .row.meta.top-bar
        .small-3.columns#time
        .logo.small-6.columns Kegalytics
        .small-3.columns.text-right
          span.label.inside-temp Fridge Temp
          span#temp 35
          | °

    section#kegs
      each num in [0,1]
        div(id='keg' + num)
          include keg.pug

      section#instructions
        .row
          .small-12.text-center.small-centered.columns
            h3 Steps to the perfect pour
        .row
          .small-2.columns
            img(src='img/step1.png')
          .small-2.columns
            h4 Step 1.
            p Hold the glass directly under the tap at a 45 degree angle.
          .small-2.columns
            img(src='img/step2.png')
          .small-2.columns
            h4 Step 2.
            p
              | Quickly open the tap&nbsp;
              b all the way
              | . Half pulls lead to more foam.
          .small-2.columns
            img(src='img/step3.png')
          .small-2.columns
            h4 Step 3.
            p Fill the glass 2/3 full, then hold the glass upright until full.
      section#footer
        .row
          .small-3.small-centered.text-center.columns
            img(src='img/sdi.png')

    #pouring.reveal-modal.medium.text-center(data-reveal data-animation-speed="0")
      h2 Currently pouring
      .ounces
        span.oz
        sup oz
      h2.beerName
        span.name
        small (Excellent Choice)

    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='vendor/foundation/js/foundation.min.js')
    script(src='/socket.io/socket.io.js')
    script(src="/javascripts/script.js")
