doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Foundation
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='vendor/modernizr/modernizr.js')
    script(type='text/javascript', src='//use.typekit.net/xau6nox.js')
    script(type='text/javascript')
      | try{Typekit.load();}catch(e){}
  
  body
    script.
      var socket = io();
      var messages = document.getElementById('messages');
      var form = document.getElementById('form');
      var input = document.getElementById('input');
      form.addEventListener('submit', function(e) {
      e.preventDefault();
      if (input.value) {
      socket.emit('chat message', input.value);
      input.value = '';
      }
      });
      socket.on('chat message', function(msg) {
        windows.alert(msg);
      var item = document.createElement('li');
      item.textContent = msg;
      messages.appendChild(item);
      window.scrollTo(0, document.body.scrollHeight);
      });
    .contain-to-grid
      .row.meta.top-bar
        .small-3.columns#time
        .logo.small-6.columns Kegalytics
        .small-3.columns.text-right
          span.label.inside-temp Fridge Temp
          span#temp 35
          | °

    section#kegs
      each num in [0,1]
        div(id='keg' + num)
          include keg.pug

      section#instructions
        .row
          .small-12.text-center.small-centered.columns
            h3 Leaderboard
        table
          tr 
            th.table-headers Office
            th.table-headers.kegs-text  Kegs Consumed 
            th.table-headers Pours
          tr(style='background-color: transparent')
            th.table-text Atlanta 
            th.table-text.kegs-text #{stats.atlanta_kegs}
            th.table-text #{stats.atlanta_pours}
          tr 
            th.table-text Cleveland 
            th.table-text.kegs-text #{stats.cleveland_kegs}
            th.table-text #{stats.cleveland_pours}
          tr(style='background-color: transparent') 
            th.table-text Doylestown 
            th.table-text.kegs-text #{stats.doylestown_kegs}
            th.table-text #{stats.doylestown_pours}
          tr 
            th.table-text Remote
            th.table-text.kegs-text #{stats.remote_kegs}
            th.table-text #{stats.remote_pours}
            //- add new column with size equivalent for kegs consumed
      section#footer
        .row
          .small-3.small-centered.text-center.columns
            img(src='img/sdi.png')


    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='vendor/foundation/js/foundation.min.js')
    script(src='/socket.io/socket.io.js')
    script(src="/javascripts/script.js")
